.pitch{
  height: 80vh;
}
.pitch__title{
  margin-top: 8vh;
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 300;
}
.pitch__button-container{
  width:100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 3%;
}
.pitch__button{
  
  all:unset;

}
.pitch__paragraph-container {
  display: flex;
  justify-content: space-between;
  margin: 3% 10% 5% 10%;
  height: 50vh;
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
}

.pitch__paragraph-section {
  width: calc(33% - 2rem); 
  background-color: #fff;
  border: 1px solid #004bad18;
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: var(--primary-color);
  display:flex;
  flex-direction: column;
  
}
.pitch__paragraph-title{
  flex: .4 1;
  text-align: center;
  font-weight: 300;
  font-size: 2.25rem;
  color:#000;
}
.pitch__paragraph{
  flex: .6 1;
}