.pitch__title{
  margin-top: 8vh;
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 300;
}
.pitch__paragraph-container {
  display: flex;
  margin: var(--fullpage-margin-lr);
  margin-top: 8vh;
  height: 35vh;
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
}

.pitch__paragraph-section {
  width: calc(33% - 2rem); 
  flex-shrink: 0; 
  background-color: #fff;
  border: 1px solid #004bad18;
  border-radius: 5%;
  padding: 1.5rem;
  color: var(--primary-color);
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.398);
}
.pitch__paragraph-title{
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2.25rem;
}
pitch__paragraph{
  font-size: 1.5rem;
}